/* Bootstrap only override!!! */

/* navbar override */
.bg-light {
	background-color: white !important;
	border-radius: 5px !important;
	color: white !important;   	
}

.navbar-brand {
	color: blue !important;
}

.navbar-nav .nav-link {
	background-color: white!important;
	border-radius: 10px !important;
	margin: 5px 5px !important;
	text-align: center !important;
	color: blue !important;
}

.navbar-nav .nav-link:hover {
	background-color: blue !important;
    color: white !important;	
}

.navbar-nav .nav-link:active {
	background-color: blue !important;
    color: white !important;	
}